body {
  margin: 0;
}

.navbar {
  padding: 10px;
  background-color: #fff;
}

.navbar .navbar-nav .active {
  border-bottom: 2px solid #000;
}

.navbar .navbar-brand {
  margin-left: 30px;
}

.navbar .nav-item {
  margin-right: 50px;
}

.btn-primary {
  background-color: #4a4a4a;
  border-radius: 20px;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: #1e1e1e;
}

.motto img {
  width: 15px;
  height: 20px;
  margin: 5px;
}

.motto .second-quote-icon {
  margin-top: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.motto .motto-text {
  font-size: 25px;
}

.project-container label {
  width: 100%;
}

.project-container .project-item {
  display: none;
}

.project-container .project-item:hover {
  cursor: pointer;
}

.project-container .project-item:checked + .card-project {
  opacity: 1;
}

.project-container .card-project {
  border-radius: 15px;
  background-color: #58af47;
  opacity: 0.7;
  height: 250px;
}

.project-container .card-project:hover {
  opacity: 0.8;
  cursor: pointer;
}

.project-container .active-project {
  opacity: 1;
}

.project-container .active-project:hover {
  opacity: 1;
}

.project-container img {
  margin-top: 10px;
}

.project-container h5 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.read-more {
  color: #7fc241;
}

.read-more:hover {
  color: #006c3a;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.container-predictive {
  display: none;
}

.flex-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.input-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  height: 100px;
  max-width: 1000px;
  position: relative;
  z-index: 0;
}

.input {
  width: 25px;
  height: 25px;
  background-color: #2C3E50;
  position: relative;
  border-radius: 50%;
}

.input:hover {
  cursor: pointer;
}

.input::before, .input::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #2C3E50;
  width: 15vw;
  height: 5px;
  max-width: 150px;
}

.input::before {
  left: calc(-4vw + 12.5px);
}

.input::after {
  right: calc(-4vw + 12.5px);
}

.input.active {
  background-color: #2C3E50;
}

.input.active::before {
  background-color: #2C3E50;
}

.input.active::after {
  background-color: #2C3E50;
}

.input.active span {
  font-weight: 700;
}

.input.active span::before {
  font-size: 13px;
}

.input.active span::after {
  font-size: 15px;
}

.input.active ~ .input, .input.active ~ .input::before, .input.active ~ .input::after {
  background-color: #2C3E50;
}

.input span {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
}

.input span::before, .input span::after {
  visibility: visible;
  position: absolute;
  left: 50%;
}

.input span::after {
  content: attr(data-year);
  top: 25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 14px;
}

.input span::before {
  content: attr(data-info);
  top: -65px;
  width: 70px;
  -webkit-transform: translateX(-5px) rotateZ(-45deg);
          transform: translateX(-5px) rotateZ(-45deg);
  font-size: 12px;
  text-indent: -10px;
}

.description-flex-container {
  width: 80vw;
  font-weight: 400;
  font-size: 22px;
  margin-top: 100px;
  max-width: 1000px;
}

.description-flex-container p {
  margin-top: 0;
  display: none;
}

.description-flex-container p.active {
  display: block;
}

@media (min-width: 1250px) {
  .input::before {
    left: -37.5px;
  }
  .input::after {
    right: -37.5px;
  }
}

@media (max-width: 850px) {
  .input {
    width: 17px;
    height: 17px;
  }
  .input::before, .input::after {
    height: 3px;
  }
  .input::before {
    left: calc(-4vw + 8.5px);
  }
  .input::after {
    right: calc(-4vw + 8.5px);
  }
}

@media (max-width: 600px) {
  .flex-parent {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .input-flex-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 15vh;
  }
  .input {
    width: 60px;
    height: 60px;
    margin: 0 10px 50px;
    background-color: #AEB6BF;
  }
  .input::before, .input::after {
    content: none;
  }
  .input span {
    width: 100%;
    height: 100%;
    display: block;
  }
  .input span::before {
    top: calc(100% + 5px);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }
  .input span::after {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #ECF0F1;
  }
  .description-flex-container {
    margin-top: 30px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  body {
    min-height: 950px;
  }
}

@media (max-width: 576px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    padding-left: 30px;
  }
  .illustration {
    margin-left: -50px;
    padding: 20px;
    height: 300px;
  }
  .flex-parent {
    margin-top: -150px;
  }
  .illustration-2 {
    height: 300px;
    margin-left: 20px;
    margin-bottom: 0px;
  }
  .jumbotron-2 {
    margin-top: -500px;
  }
  .parent-container {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .flex-items-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .flex-items {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .flex-items .flex-item-image {
    margin: 0px;
  }
  .flex-items .flex-item-image img {
    height: 120px;
    margin-top: 60px;
    margin-left: -10px;
  }
  .flex-items .flex-item-word {
    margin: 0px;
    width: 100%;
  }
  .flex-items .flex-item-word h3 {
    font-size: 30px;
  }
  .flex-items .flex-item-word p {
    font-size: 20px;
    width: 180px;
  }
  .parent-container-client {
    padding: 0;
    margin-top: -100px;
  }
  .parent-container-client .btn {
    text-align: center;
  }
  .our-client {
    margin-bottom: -100px;
    text-align: center;
  }
  .container-items img {
    width: 75px;
    margin: 10px;
  }
  .motto {
    margin-top: -100px;
  }
  .motto .motto-text {
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
  }
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
/*# sourceMappingURL=style.css.map */